<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383280849655-i2vccnegqv9higojch6feqepg1q0sqh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383280849655-i2vccnegqv9higojch6feqepg1q0sqh7</string>
	<key>API_KEY</key>
	<string>AIzaSyDpW5jil5B4AZOtv4OXov4NGF1-v-mj9gs</string>
	<key>GCM_SENDER_ID</key>
	<string>383280849655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ITI.Shopify</string>
	<key>PROJECT_ID</key>
	<string>shopify-a5cfe</string>
	<key>STORAGE_BUCKET</key>
	<string>shopify-a5cfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383280849655:ios:a09887aa441d4b7852a9f2</string>
</dict>
</plist>